  <!--コメント数表示-->
  コメント数：<%= photo.comments.count %>
  <div id="comments-area">
    <table>
      <% photo.comments.each do |comment| %>
        <tr>
          <td>
            <%= image_tag comment.user.get_profile_image, size: '50x50' %><br>
            <% if comment.user == current_user %>
            <% else %>
              <%=link_to user_path(comment.user.id) do %>
                <%= comment.user.name %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= comment.photo_comment %>
          </td>
        </tr>
        <tr>
          <% if comment.user == current_user %>
          <td>
            <%= link_to "削除", photo_comment_path(comment.photo, comment), method: :delete, remote: true, class:"btn btn-sm btn-comment_delete" %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

