  <div class='row'>
    <div class='col-8'>
      <h3>Followers <%= @user.name %></h3>
    </div>
    <div class='col-md-3'>
      <%=link_to"Followings",user_followings_path, class:"btn btn-sm btn-success" %>
    </div>
  </div><br>

  <!--ユーザー検索-->
  <%= render 'public/users/sarch_users', q: @q, path: :user_followers_path %>
  <%= search_form_for @q, url: user_followers_path do |f| %>
   <%= f.search_field :name_cont, placeholder: 'ユーザー検索' %>
   <%= f.submit %>
  <% end %>

  <table class = "table">
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= image_tag user.get_profile_image, size: '100x100' %>
      </td>
      <td>
        <%= link_to user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <% unless user == current_user %>
          <% if current_user.following?(user) %>
            <p><%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class:"btn btn-sm btn-success" %></p>
          <% else %>
            <p><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:"btn btn-sm btn-success" %></p>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>