  <div style = "background-color: #FFF;">
    <div class='row p-1'>
      <div class = 'col'>
        <% photos.each do |photo| %>
          <div class="card shadow-sm" style="width: 320px; float: left; margin: 5px 10px 5px 0; padding: 15px 10px;">

            <!--ユーザーページ以外なら表示-->
            <div class='row '>
              <div class = 'col'>
                <% if current_page?(photo.user) %>
                <% else %>
                  <p>投稿者
                    <%= link_to(photo.user) do %>
                     <%= photo.user.name %>
                    <% end %>
                  </p>
                <% end %>
              </div>
            </div>

            <!--写真リンク表示-->
            <div class='row '>
              <div class = 'col'>
                <%= link_to photo_path(photo) do %>
                  <%= image_tag photo.photo_image, size:"300x200" %>
                <% end %>
              </div>
            </div>

            <!--いいね件数-->
            <div class = 'row pl-3'>
              <div class = 'col'>
                <div id="favorite_buttons_<%= photo.id %>">
                  <%= render 'public/favorites/favorites', photo: photo %>
                </div>
              </div>

              <!--コメント件数-->
              <% if photo.prefectures == "神奈川県" %>
                <div class = 'col ml-4'>
                  <i class="far fa-comment-dots"></i> <%= photo.comments.count %>
                </div>
              <% elsif photo.prefectures == "和歌山県" %>
                <div class = 'col ml-4'>
                  <i class="far fa-comment-dots"></i> <%= photo.comments.count %>
                </div>
              <% elsif photo.prefectures == "鹿児島県" %>
                <div class = 'col ml-4'>
                  <i class="far fa-comment-dots"></i> <%= photo.comments.count %>
                </div>
              <% else %>
                <div class = 'col'>
                  <i class="far fa-comment-dots"></i> <%= photo.comments.count %>
                </div>
              <% end %>

              <!--未選択は表示させない-->
              <% if photo.prefectures == "未選択" %>
              <% elsif photo.prefectures == "神奈川県" %>
                <div class = 'col-5 pl-4'>
                  <i class="fas fa-map-marker-alt" style="color: #726A95;"></i> <%= photo.prefectures %>
                </div>
              <% elsif photo.prefectures == "和歌山県" %>
                <div class = 'col-5 pl-4'>
                  <i class="fas fa-map-marker-alt" style="color: #726A95;"></i> <%= photo.prefectures %>
                </div>
              <% elsif photo.prefectures == "鹿児島県" %>
                <div class = 'col-5 pl-4'>
                  <i class="fas fa-map-marker-alt" style="color: #726A95;"></i> <%= photo.prefectures %>
                </div>
              <% else %>
                <div class = 'col'>
                  <i class="fas fa-map-marker-alt" style="color: #726A95;"></i> <%= photo.prefectures %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div><br>

    <div class = "d-flex justify-content-center">
      <%= paginate photos %>
    </div>
  </div>
