<h3>投稿詳細</h3>

<%= link_to(@photo.user) do %>
 <%= @photo.user.name %>
<% end %>

<div class='row'>
 <!--写真の表示-->
 <div class='col-5'>
  <%= image_tag @photo.photo_image, size:"600x400" %>
 </div>

 <!--情報の表示-->
 <div class='col-md-4'>
  カメラ             <%= @photo.camera_name %><br>
  焦点距離           <%= @photo.focal_length %>mm<br>
  F値                <%= @photo.focal_number %><br>
  シャッタースピード <%= @photo.shutter_speed %>s<br>
  ISO感度            <%= @photo.iso %><br>
  アクセサリー       <%= @photo.accessory %><br>
  編集               <% if @photo.edit_pictuer == false %>
                      なし
                     <% else %>
                      あり
                     <% end %><br>
  <!--県の表示-->
  <%= @photo.prefectures %><br>
  <!--撮影場所の表示-->
  <%= @photo.region %><br>
  <!--コメントの表示-->
  <%= @photo.opinion %><br>
  <!--タグの表示-->
  <% @photo.tag_relations.each do |tag| %>
   <%= tag.tag.name %>
  <% end %>
  ♡～件　　コメント～件
 </div>
</div>
