  <div style = "background-color: #FFF;">
    <div class='row p-2'>
      <div class='col-sm-10'>
        <h3>Photo</h3>
      </div>

      <!--新規投稿画面アイコン-->
      <%= render 'public/photos/new_post_btn' %>
    </div><br>

    <!--ユーザー詳細画面へのリンク-->
    <div class = "pl-2">
      <p>投稿者
        <%= link_to(@photo.user) do %>
          <%= @photo.user.name %>
        <% end %>
      </p>
    </div>

    <div class='row'>
      <!--写真の表示-->
      <div class='col-md-12 col-xl-6'>
        <%= image_tag @photo.photo_image, size:"500x333", class: "img-fluid" %>
        <!--コメントの表示-->
        <% if @photo.opinion.present? %>
        <div class = 'p-2 pb-4'>
          <table>
            <tr>
              <td style = "white-space: nowrap";>
                テキスト
              </td>
              <td style = "padding-left: 10px";>
                <%= @photo.opinion %>
              </td>
            </tr>
          </table>
        </div>
        <% else %>
        <% end %>
      </div>

      <!--情報の表示-->
      <div class='col-md-9 col-lg-7 col-xl-5 ml-2'>
        <table class = 'table'>
          <!--情報の入力の有無による分岐-->
          <% if @photo.camera_name.present? %>
          <tr>
            <td style = "white-space: nowrap";>
              カメラ
            </td>
            <td style = "padding-left: 10px";>
              <%= @photo.camera_name %>
            </td>
          </tr>
          <% else %>
          <% end %>

          <tr>
            <td style = "white-space: nowrap";>
              焦点距離
            </td>
            <td style = "padding-left: 10px";>
              <%= @photo.focal_length %>mm
            </td>
          </tr>

          <tr>
            <td style = "white-space: nowrap";>
              F値
            </td>
            <td style = "padding-left: 10px";>
              <%= @photo.focal_number %>
            </td>
          </tr>

          <tr>
            <td style = "white-space: nowrap";>
              SS
            </td>
            <td style = "padding-left: 10px";>
              <%= @photo.shutter_speed %>s
            </td>
          </tr>

          <tr>
            <td style = "white-space: nowrap";>
              ISO感度
            </td>
            <td style = "padding-left: 10px";>
              <%= @photo.iso %>
            </td>
          </tr>

          <tr>
            <td style = "white-space: nowrap";>
              周辺機器
            </td>
            <td style = "padding-left: 10px";>
              <%= @photo.accessory %>
            </td>
          </tr>

          <tr>
            <td style = "white-space: nowrap";>
              編集
            </td>
            <td style = "padding-left: 10px";>
              <% if @photo.edit_pictuer == false %>
                なし
              <% else %>
                あり
              <% end %>
            </td>
          </tr>

          <!--県の表示-->
          <% if @photo.prefectures == "未選択" %>
          <% else %>
            <tr>
              <td style = "white-space: nowrap";>
                都道府県
              </td>
              <td style = "padding-left: 10px";>
                <%= @photo.prefectures %>
              </td>
            </tr>
          <% end %>

          <!--撮影場所の表示-->
          <% if @photo.region.present? %>
            <tr>
              <td style = "white-space: nowrap";>
                撮影場所
              </td>
              <td style = "padding-left: 10px";>
                <%= @photo.region %>
              </td>
            </tr>
          <% else %>
          <% end %>

          <!--タグの表示-->
          <% if @photo.tag_relations.present? %>
            <tr>
              <td style = "white-space: nowrap";>
                タグ
              </td>
              <td style = "padding-left: 10px";,"white-space: nowrap";>
                <% @photo.tag_relations.each do |tag_relation| %>
                  #<%= tag_relation.tag.tag_name %>
                <% end %>
              </td>
            </tr>
          <% else %>
          <% end %>
        </table>

        <!--自分の投稿の場合編集と削除リンクを表示する-->
        <div class = 'pl-2'>
          <% if @photo.user == current_user %>
            <br>
            <%= link_to "Edit", edit_photo_path(@photo.id), class:"btn btn-sm btn-success" %>
            |
            <%= link_to "Destroy", photo_path(@photo), method: :delete, "data-confirm" => "really?", class:"btn btn-sm btn-danger" %>
          <% end %><br>

          <!--いいね機能-->
          <p id = "favorite_buttons_<%= @photo.id %>">
            <%= render 'public/favorites/favorites', photo: @photo %>
          </p>
        </div>
      </div>
    </div>

    <div class = "row pl-2 pr-2">
      <!--コメントの表示及び、削除-->
      <div class = "col-12">
      　<div id="comments_area">
          <%= render 'public/photo_comments/comments', photo: @photo %>
        </div>
      </div>

      <!--エラーと投稿入力フォーム-->
      <div class = "col-12">
        <div class="new-comment">
          <%= render 'public/photo_comments/form', comment: @comment, photo_comment: @photo_comment %>
        </div>
      </div>
    </div>
  </div>
