  <div class='row'>
    <div class='col-4'>
      <h3>投稿詳細</h3>
    </div>
    <div class='col-2'>
      <!--新規投稿画面アイコン-->
      <%= link_to new_photo_path do %>
        <h4><i class="fas fa-plus-circle"></i></h4>
      <% end %>
    </div>
  </div>

  <!--ユーザー詳細画面へのリンク-->
  <p>投稿者
   <%= link_to(@photo.user) do %>
    <%= @photo.user.name %>
   <% end %>
  </p>

  <div class='row'>
   <!--写真の表示-->
   <div class='col-5'>
    <%= image_tag @photo.photo_image, size:"600x400" %>
   </div>

   <!--情報の表示-->
   <div class='col-md-4'>
    カメラ             <%= @photo.camera_name %><br>
    焦点距離           <%= @photo.focal_length %>mm<br>
    F値                <%= @photo.focal_number %><br>
    シャッタースピード <%= @photo.shutter_speed %>s<br>
    ISO感度            <%= @photo.iso %><br>
    アクセサリー       <%= @photo.accessory %><br>
    編集               <% if @photo.edit_pictuer == false %>
                        なし
                       <% else %>
                        あり
                       <% end %><br>
    <!--県の表示-->
    <%= @photo.prefectures %><br>
    <!--撮影場所の表示-->
    <%= @photo.region %><br>
    <!--コメントの表示-->
    <%= @photo.opinion %><br>
    <!--タグの表示-->
    <% @photo.tag_relations.each do |tag_relation| %>
     <%= tag_relation.tag.tag_name %>
    <% end %>

    <!--自分の投稿の場合編集と削除リンクを表示する-->
    <% if @photo.user == current_user %>
     <br><br>
     <%= link_to "Edit", edit_photo_path(@photo.id), class:"btn btn-sm btn-success" %>
     |
     <%= link_to "Destroy", photo_path(@photo), method: :delete, "data-confirm" => "really?", class:"btn btn-sm btn-danger" %>
    <% end %><br>

    <% if @photo.favorited_by?(current_user) %>
      <%= link_to photo_favorites_path(@photo.id), method: :delete, remote: true do %>
       <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
       <%= @photo.favorites.count %> 件
      <% end %>
    <% else %>
      <%= link_to photo_favorites_path(@photo.id), method: :post, remote: true  do %>
        <i class="fas fa-heart" aria-hidden="true"></i>
        <%= @photo.favorites.count %> 件
      <% end %>
    <% end %>
    コメント数：<%= @photo.comments.count %>
   </div>
  </div>

  <div id="comments-area">
    <table>
      <% @photo.comments.each do |comment| %>
        <tr>
          <td>
            <%= image_tag comment.user.get_profile_image, size: '50x50' %><br>
            <%=link_to user_path(comment.user.id) do %>
              <%= comment.user.name %>
            <% end %>
          </td>

          <td>
            <%= comment.photo_comment %>
          </td>

          <% if comment.user == current_user %>
          <td>
            <%= link_to "削除", photo_comment_path(comment.photo, comment), method: :delete,remote: true %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

    <div class="form-group">
  <label for="newcomment">Comment</label>

 <%= form_with(model:[@photo_comment, @comment], url: photo_comments_path(@photo), local: true) do |f| %>
  <%= f.text_area :photo_comment, rows:'5',placeholder: "コメントをここに",class:"form-control" %>
  <%= f.submit "送信する" %>
 <% end %>
 </div>