  <h3>ユーザー一覧画面</h3>

  <!--ユーザー検索-->
  <!--部分テンプレート-->
  <%= render 'public/users/sarch_users', q: @q, path: :admin_top_path %>
  <%= search_form_for @q, url: admin_top_path do |f| %>
   <%= f.search_field :name_cont, placeholder: 'ユーザー検索' %>
   <%= f.submit %>
  <% end %>
  <!--ここまで-->

  <table class = "table">
    <% @users.each do |user| %>
    <tr>
      <td>
        ID <%= user.id %>
      </td>
      <td>
        <%= link_to admin_user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <% if user.is_deleted == false %>
         <p class = text-success>有効</p>
        <% else %>
         <p class = text-danger>退会</p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
