  <div style = "background-color: #FFF;">
    <div class = "p-2">
      <h3>会員詳細</h3>

      <div class = 'p-4'>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class = 'row'>
              <div class = 'col-sm-12 col-md-5'>
                <strong>会員ID</strong>
              </div>
              <div class = 'col-md-7'>
                <%= @user.id %>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class = 'row'>
              <div class = 'col-sm-12 col-md-5'>
                <strong>ニックネーム</strong>
              </div>
              <div class = 'col-md-7'>
                <%= @user.name %>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class = 'row'>
              <div class = 'col-sm-12 col-md-5'>
                <strong>メールアドレス</strong>
              </div>
              <div class = 'col-md-7'>
                <%= @user.email %>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class = 'row'>
              <div class = 'col-sm-12 col-md-5'>
                <strong>会員ステータス</strong>
              </div>
              <div class = 'col-md-7'>
                <% if @user.is_deleted == false %>
                 <span class = text-success>有効</span>
                <% else %>
                 <span class = text-danger>退会</span>
                <% end %>
              </div>
            </div>
          </li>
        </ul>

        <div class = 'row pl-3 pt-3'>
          <div class = 'col-4'>
            <p><%= link_to "情報編集", edit_admin_user_path(@user.id), class:"btn btn-sm btn-success" %></p>
          </div>
          <div class = 'col-md-7'>
            <p><%= link_to "会員一覧へ", admin_top_path, class:"btn btn-sm btn-primary" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>