  <h3>いいね一覧画面</h3>

  <!--検索フォーム-->
  <%= form_with url: favorites_user_path(@user), method: :get, local: true do |f| %>
    <%= f.select :prefecture, @prefectures, include_blank: "都道府県を選択して下さい" %>
    <%= f.submit %>
  <% end %>

  <!--お気に入り投稿一覧-->
  <% @favorite_photos.each do |photo|%>
    <p>投稿者
      <%= link_to(photo.user) do %>
       <%= photo.user.name %>
      <% end %>
    </p>

    <table>
      <tr>
        <td rowspan = "5">
          <%= link_to photo_path(photo) do %>
            <%= image_tag photo.photo_image, size:"300x200" %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td></td>
      </tr>

      <tr>
        <td>
          コメント数：<%= photo.comments.count %>
        </td>
      </tr>

      <tr>
        <td>
          <% if photo.favorited_by?(current_user) %>
            <%= link_to photo_favorites_path(photo), method: :delete, remote: true do %>
              <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= photo.favorites.count %> 件
            <% end %>
          <% else %>
            <%= link_to photo_favorites_path(photo), method: :post, remote: true  do %>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <%= photo.favorites.count %> 件
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          <p>タグ～</p>
          <% photo.tag_relations.each do |tag_relation| %>
           <%= tag_relation.tag.tag_name %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>