  <div class='row'>
    <div class='col-4'>

      <!--自身のページならマイページを、他のユーザーならユーザーページと表示させる-->
      <% if @user == current_user %>
       <h3>Mypage</h3>
      <% else %>
       <h3>Userpage</h3>
      <% end %>

    </div>
    <div class='col-2'>
      <!--新規投稿画面アイコン-->
      <%= link_to new_photo_path do %>
        <h4><i class="fas fa-plus-circle"></i></h4>
      <% end %>
    </div>
  </div>

  <table>
    <tr>
      <td>
        <!--ユーザーのプロフィール写真-->
        <%= image_tag @user.get_profile_image, size: '100x100' %><br>
        <!--ユーザーネーム-->
        <%= @user.name %><br>
      </td>
      <td style = "padding-left:30px;">
        <span style = "margin-left:10px;"><%= @user.photos.count %></span><br>
        投稿
      </td>
      <td style = "padding-left:30px;">
        <span style = "margin-left:35px;"><%= @user.followers.count %></span><br>
        <%=link_to"フォロワー",user_followers_path(@user) %>
      </td>
      <td style = "padding-left:25px;">
        <span style = "margin-left:25px;"><%= @user.followings.count %></span><br>
        <%=link_to"フォロー",user_followings_path(@user) %>
      </td>
    </tr>
  </table>
  <!--自己紹介文-->
  <%= @user.introduction %><br>


  <!--マイページなら編集リンクを、他のユーザーならフォローリンクを表示-->
  <% if @user == current_user %>

  <div class='row'>
    <div class='col-md-2'>
      <p><%= link_to "プロフィール編集",edit_user_path(@user), class:"btn btn-sm btn-success" %></p>
    </div>
    <div class='col-md-2'>
      <p><%=link_to"いいね一覧",favorites_user_path(@user), class:"btn btn-sm btn-success" %></p>
    </div>
  </div>

  <% else %>

  <div class='row'>
    <div class='col-md-2'>
      <% if current_user.following?(@user) %>
        <p><%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class:"btn btn-sm btn-success" %></p>
      <% else %>
        <p><%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-sm btn-success" %></p>
      <% end %>
    </div>
    <div class='col-md-2'>
      <p><%=link_to"いいね一覧",favorites_user_path(@user), class:"btn btn-sm btn-success" %></p>
    </div>
  </div>

  <% end %><br>

  <p>投稿一覧</p>

  <!--検索フォーム-->
  <%= form_with url: user_path(@user), method: :get, local: true do |f| %>
    <%= f.select :prefecture, @prefectures, include_blank: "都道府県を選択して下さい" %>
    <%= f.submit %>
  <% end %>

  <!--ユーザーの投稿表示-->
  <table>
   <% @photos.each do |photo| %>
   <tr>
     <td rowspan = "5">
       <%= link_to photo_path(photo) do %>
         <%= image_tag photo.photo_image, size:"300x200" %>
       <% end %>
     </td>
   </tr>

   <tr>
     <td></td>
   </tr>

   <!--コメント件数-->
   <tr>
     <td>
       コメント数：<%= photo.comments.count %>
     </td>
   </tr>

   <!--いいね件数-->
   <tr>
     <td>
       <% if photo.favorited_by?(current_user) %>
         <%= link_to photo_favorites_path(photo), method: :delete, remote: true do %>
          <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= photo.favorites.count %> 件
         <% end %>
       <% else %>
         <%= link_to photo_favorites_path(photo), method: :post, remote: true  do %>
           <i class="fas fa-heart" aria-hidden="true"></i>
           <%= photo.favorites.count %> 件
         <% end %>
       <% end %>
     </td>
   </tr>

   <!--タグの表示-->
   <tr>
     <td>
       <p>タグ～</p>
       <% photo.tag_relations.each do |tag_relation| %>
        <%= tag_relation.tag.tag_name %>
       <% end %>
     </td>
   </tr>

   <% end %>
  </table>